<div class="examBox">
  <div class="examhead text-center"><h2>اختبار {{subject.name}} </h2></div>
  <div class="quizBox" *ngFor="let item of subject.question ; let index = index">
      <strong ><span class="text-danger">سؤال {{index + 1}} .>> </span> {{item.question}}</strong>
      <div class="row mt-3" >
          <div class="col-md-6 col-sm-12">
              <mat-radio-button value="answer1" *ngIf="user?.role == 'students'" color="warn"></mat-radio-button>
              <label>A.{{item.answer1}}</label>
          </div>

          <div class="col-md-6 col-sm-12">
              <mat-radio-button value="answer2" *ngIf="user?.role == 'students'"  color="warn"></mat-radio-button>
              <label>B.{{item.answer2}}</label>
          </div>

          <div class="col-md-6 col-sm-12">
              <mat-radio-button value="answer3" *ngIf="user?.role == 'students'"  color="warn"></mat-radio-button>
              <label>C.{{item.answer3}}</label>
          </div>

          <div class="col-md-6 col-sm-12">
              <mat-radio-button value="answer4" *ngIf="user?.role == 'students'" color="warn"></mat-radio-button>
              <label>D.{{item.answer4}}</label>
          </div>
      </div>
      <hr>
      <div class="text-star" *ngIf="user?.role == 'doctor'">
        <button mat-raised-button  class="btn btn-danger" (click)="delete(index)">حذف</button>
     </div>
      <hr>
  </div>
  <div class="text-center" *ngIf="user?.role == 'students'">
      <button class="btn btn-success px-5 fs-5"> النتيجة</button>
  </div>

</div>
